@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Lato:wght@100;300;400;700&family=Roboto+Slab:wght@300;400;500&display=swap');

body {
    background: #2a2a2a;
    color: #FFF;
    padding: 0;
    margin: 0;
    font-family: "Lato"
}

a {
    color: lightyellow;
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 2px;
}

section {
    width: 84%;
    margin: 0 auto 2rem;
    max-width: 800px;
    padding: 1rem 0;
    letter-spacing: 1px;
    font-size: 1rem;
}

section p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255,255,255,0.8);
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.35;
    margin-bottom: 1.5rem;
}

#logoHeader {
    paddingTop: 0.5rem;
    text-align: center;
}

#logoHeader .logo {
    
}

#prevWorkBanner {
    display: flex;
    min-height: 150px;
    background: black;
    padding: .25rem;
    margin-top: 1rem;
}

.galleryCard {
    padding: 0.5rem;
}

.galleryCard img {
    width: calc(100% - 1rem);
}

.gatsby-image-wrapper {
    margin: 0.35rem;
}

.bigCap {
    font-size: 250%;
    font-weight: 100;
}

.TLG {
    color: white;
    font-weight: 400;
}

.send_email {
    max-width: 800px;
    margin: 0 auto 5rem;
    text-align: center;
}

.send_email a {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    color: tan;
    transition: 0.25s;
}

.send_email a:hover {
    color: white;
}

.social_links {
    font-family: 'Montserrat';
    font-size: 1.25rem;
    width: 100%;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto 2rem;
    display: flex;
    justify-content: space-around;
    border-top: 0.5px solid rgba(255,255,255,0.25);
    border-bottom: 0.5px solid rgba(255,255,255,0.25);
    padding: 3rem 0;
  }
  
  .social_links a {
    text-align: center;
    color: white;
  }
  
  .social_links svg {
    display: inline-block;
    margin-bottom: 1rem;
  }

  .siteThumb {
      background: black;
      padding: 0.5rem;
      margin-top: 4rem;
      display: block;
      border: 0;
  }

  @media only screen and (max-width: 480px) {
    section { width: 88%; } 
    section p { padding-right: 0rem; }
    .social_links a {
        font-size: 1rem;
    }
    
    .social_links svg {
        width: 40px;
        height: 40px;
    }
  }